{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "exclude": ["transform-regenerator"]
    }]
  ],
  "plugins": [
    "transform-es2015-modules-commonjs"
  ]
}
