name: Check Markdown links

on:
  push:
    branches:
      - main
    tags:
      - '!**'
  schedule:
    - cron: '0 3 * * 2'

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          config-file: .github/workflows/markdown-link-check.json
